<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdr.interview.mapper.CheckcodeMapper">
  <resultMap id="BaseResultMap" type="com.jdr.interview.entity.Checkcode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="timeStamp" jdbcType="VARCHAR" property="timestamp" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    username, timeStamp, times, code
  </sql>
</mapper>