<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdr.interview.mapper.SigninTalkMapper">
  <resultMap id="BaseResultMap" type="com.jdr.interview.entity.SigninTalk">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="talk_id" jdbcType="INTEGER" property="talkId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="talk_text" jdbcType="VARCHAR" property="talkText" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    talk_id, user_id, talk_text, create_time
  </sql>
</mapper>